<div class="wellDetail" *ngIf="!isFillInWellId">
  <!--滚动条-->
  <!--<div class="scrollbarhome">-->
  <!--&lt;!&ndash;<span class="scrollbar"></span>&ndash;&gt;-->
  <!--</div>-->
  <div id="container-fluid">
    <div class="row wellDetailHeader">
      <div class="text-center">
        <h4 *ngIf="manholeCoverInfo">井的ID为: &nbsp; {{wellId}}</h4>
        <h4 *ngIf="!manholeCoverInfo">该井不存在</h4>
      </div>
      <select #detail class="pull-right" (change)="childDetail(detail)">
        <option [value]="-1">全部</option>
        <option [value]="'wellCover'">井盖信息</option>
        <option [value]="'enterWell'">进井信息</option>
        <option [value]="'outWell'">出井信息</option>
        <option [value]="'sensors'">传感器信息</option>
      </select>
    </div>
    <div id="wellCover" class="row" *ngIf="manholeCoverInfo">
        <h4>这是井盖信息详情：</h4><br>
        <p *ngFor="let cover of wellCoverDetail">
          <span>{{cover.name}}:</span>
          <span>{{manholeCoverInfo[cover.content]}}</span>
          <span>&nbsp;{{cover.unit}}</span>
        </p>
      </div>
    <div id="enterWell">
      <h5 *ngIf="!inFlowManholelist">该井没有进井数据</h5>
      <div *ngIf="inFlowManholelist">
        <h4>这是进井详情：</h4><br>
        <div *ngFor="let inflow of inFlowManholelist;let i = index">
          <span class="sequence">{{i + 1}}</span>
          <p *ngFor="let enter of enterWellDetail">
            <span>{{enter.name}}:</span>
            <span>{{inflow[enter.content]}}</span>
            <span>&nbsp;{{enter.unit}}</span>
          </p>
        </div>
      </div>
    </div>
    <div id="outWell" class="row">
      <h5 *ngIf="!flowOutManholelist">该井没有出井数据</h5>
      <div *ngIf="flowOutManholelist">
        <h4>这是出井详情：</h4><br>
        <div *ngFor="let flowout of flowOutManholelist;let i = index">
          <span class="sequence">{{i + 1}}</span>
          <p *ngFor="let out of outWellDetail">
            <span>{{out.name}}:</span>
            <span>{{flowout[out.content]}}</span>
            <span>&nbsp;{{out.unit}}</span>
          </p>
        </div>
      </div>
    </div>
    <div id="sensors" class="row">
      <h5 *ngIf="!sensorInfoList">该井没有传感器数据</h5>
      <div *ngIf="sensorInfoList">
        <h4>这是传感器详情：</h4><br>
        <div *ngFor="let sensor of sensorInfoList;let i = index">
          <span class="sequence">{{i + 1}}</span>
          <p *ngFor="let sen of sensorsDetail">
            <span>{{sen.name}}:</span>
            <span>{{sensor[sen.content]}}</span>
            <span>&nbsp;{{sen.unit}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fillInWellId" *ngIf="isFillInWellId">
  <div class="modal-header">
    <h4 class="modal-title">请输入要查看的井ID</h4>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" #wellId>
    <div class="row text-center">
      <button type="button" class="btn btn-primary" (click)="getWellId(wellId)">确定</button>
    </div>
  </div>
</div>
