.fillInWellId {
  width: 60%;
  min-width: 280px;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
}
.btn-primary {
  margin-top: 20px;
}
.wellDetail {
  width: 85%;
  height: 90vh;
  border-radius: 10px 0px 0px 0px;
  padding: 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.5);
}
.wellDetail::-webkit-scrollbar{
  display: none;
}
.wellDetail select {
  position: static;
  border: none;
  padding: 3px 8px;
  color: #FFFFFF;
  background-color: rgba(51, 171, 162, 0.6);
}
.wellDetail select a {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: rgba(71, 249, 240, 0.6);
}
#wellCover,
#enterWell,
#outWell,
#sensors
{
  border-bottom: 1px dashed #FFFFFF;
}
.sequence{
  display: inline-block;
  padding: 6px;
  border-radius: 50%;
  background-color: #04698e;
  text-align: center;
  vertical-align: center;
}
#wellCover p,
#enterWell p,
#outWell p,
#sensors p
{
  margin-left: 30px;
}
h4{
  margin-bottom: 0px;
}
