.hint {
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 30px 30px;
  border-radius: 10px;
  background-color: rgb(31,87,82);
  z-index: 1031;
  font-size: 40px;
  color: #0b7389;
  text-align: center;
}
.msg {
  font-size: 16px;
}
