<div class="container-fluid">
  <div class="row">
    <form class="form-inline">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>井ID:</label>
            <input type="text">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>进井ID: </label>
            <input type="text">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>进井管道ID: </label>
            <input type="text">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>进井管道半径: </label>
            <input type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>进井管道倾斜度: </label>
            <input type="text">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>进井管道长度: </label>
            <input type="text">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
