<div class="container-fluid">
  <div class="row" *ngFor="let form of forms; let i = index">
    <form class="form-inline" [formGroup]="form">
      <div class="form-group pull-left">
        <label></label>
        <input type="button" value="{{i + 1}}">
      </div>
      <div class="form-group pull-left" *ngFor="let f of formBodyHtml">
        <label>{{f.name}}:</label>
        <input type="text" formControlName="{{f.content}}">
      </div>
      <div class="form-group pull-right">
        <label></label>
        <input type="reset" value="重置数据">
      </div>
      <div class="form-group pull-right">
        <label></label>
        <input type="button" value="删除" (click)="deleteForm(form)">
      </div>
    </form>
  </div>
  <div class="col-xs-12 text-center">
    <span class="fa fa-plus-circle" (click)="addForm()"></span>
  </div>
</div>
