<div class="container-fluid">
  <div class="row" *ngFor="let form of forms; let i = index">
    <form class="form-inline" [formGroup]="form">
      <div class="form-group pull-left">
        <label></label>
        <input type="button" class="sequence" value="{{i + 1}}">
      </div>
      <div class="form-group pull-left" *ngFor="let f of formBodyHtml">
        <label>{{f.name}}:</label>
        <input type="text" formControlName="{{f.content}}">
      </div>
      <div class="form-group pull-right">
        <label></label>
        <input type="reset" value="重置数据">
      </div>
      <div class="form-group pull-right">
        <label></label>
        <input type="button" value="删除" (click)="deleteForm(form)">
      </div>
    </form>
  </div>
</div>

<ng-template #formValidModal>
  <div class="modal-header">
    <h5 class="modal-title pull-left">进井表单验证失败提示:</h5>
    <button type="button" class="pull-right" (click)="modalRef.hide()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="text-center">
        <h4>当前填写表单所有项输入能为空</h4>
      </div>
    </div>
</ng-template>
