<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 main">
      <div class="row" style="padding: 0px 16px;">
        <div class="col-md-12 col-xs-12 title">传感器信息添加</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel-body">
            <div class="form">
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>井ID:</label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>传感器所属模式:</label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>模块ID：</label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>高度：</label>
                      <input type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>传感器在模块中的位置</label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>导管ID：</label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>数据收集器ID：</label>
                      <input type="text">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
