/* home*/
.home {
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
}
.title{
  user-select: none;
  width: 110px;
  height: 30px;
  background: rgba(0,0,0,0.5);
  font-size: 1.5rem;
  margin-left: 5px;
  color: white;
  cursor: pointer;
  border-bottom: 3px skyblue solid;
}
.home .active {
  background-color: #37606C;
}
.title > a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.3vw 1vw;
  text-decoration: none;
}
.body{
  margin-top: 15px;
  background-color: rgba(55,96,108,0.5);
  color: #FFFFFF;
}
.wellID {
  color: #FFFFFF;
  padding: 0px 5px;
}
.btn-primary {
  margin-top: 10px;
}
.fillInWellId {
  width: 60%;
  margin-left: 15%;
  min-width: 280px;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
}
/*井盖*/
.row {
  overflow: hidden;
  padding: 1px;
  /*border-bottom: 2px solid #32a8a3;*/
}
input{
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 1px;
  outline: none;
  border: 0;
  background: white;
  color: black;
  height: 20px;
  display: block;
}
input[type = "reset"], input[type="button"]{
  margin-top: 5px;
  padding: 0px 3px 0px 3px;
  background-color: rgba(71, 249, 240, 0.6);
  color: #FFFFFF;
}
input[class="sequence"]{
  margin-top: 18px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #04698e;
  text-align: center;
  vertical-align: center;
}
.form-group{
  display: block;
  font-size: 10px;
}
.fa-plus-circle {
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
}
.fa-plus-circle:hover {
  color: #47f9f4;
}
.form-group {
  margin-left: 10px;
}
.moduleId input{
  width: 100px;
  margin-left: 45%;
}
.enterWell,
.outWell,
.sensors
{
  display: none;
}

/*// 选择模块Id的弹出框*/

.modelSelRegion {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
.modelSelRegion > .content {
  margin-left: 10%;
  width: 50%;
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
}
.modelSelRegion > .content .modelHeader {
  display: inline-block;
}
.modelSelRegion > .content .modelHeader > span {
  float: right;
}
.modelSelRegion > .content > .modelBody {
  text-align: revert;
}
.modelSelRegion > .content > .modelBody input {
  color: #000;
}
.saveBtn,
.closeBtn{
  padding: 4px 8px;
  border-radius: 3px;
  color: #FFFFFF;
}
.saveBtn:focus  {
  background-color: #646464;
}
.saveBtn{
  background-color: #1F5752;
}
.closeBtn {
  background-color: #1F5752;
}
.backBtn {
  padding: 3px 5px;
  margin-left: 15px;
}
