<div class="container-fluid home" (click)="cleanScreen()">
  <app-hint-msg [statusConfig]="statusConfig"></app-hint-msg>
  <div class="row">
    <div class="col-xs-12 wellTabsMenu" #wellTabsMenu>
      <div class="title text-center pull-left active"><a (click)="changeBgColor($event, wellCover, wellCoverForm)">井盖添加</a></div>
      <div class="title text-center pull-left"><a (click)="changeBgColor($event, enterWell, enterForms)">进井添加</a></div>
      <div class="title text-center pull-left"><a (click)="changeBgColor($event, outWell, outForms)">出井添加</a></div>
      <div class="title text-center pull-left"><a (click)="changeBgColor($event, sensors, sensorsForms)">传感器添加</a></div>
      <div class="wellID text-center pull-right"><span>当前井ID为：{{wellID.value}}</span></div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
      <app-region (regionInfoChange)="getRegionInfo($event)"></app-region>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!--这里是井盖增加表单-->
      <div #wellCover class="wellCover">
        <div class="container-fluid">
          <div class="row">
            <form class="form-inline" [formGroup]="wellCoverForm">
              <div class="form-group pull-left">
                <label>井ID:</label>
                <input type="text" [formControl]="wellID" autofocus
                       [class.hasError]="!wellID.valid && wellID.touched">
                <div [hidden]="wellID.untouched">
                  <span *ngIf="wellID.hasError('required')">必填项</span>
                  <span *ngIf="wellID.hasError('maxLength')">长度不能超过11位</span>
                </div>
              </div>
              <div class="form-group pull-left" *ngFor="let field of wellCoverFormBodyHtml">
                <label>{{field.name}}:</label>
                <input type="{{field.type}}" formControlName="{{field.content}}"
                       [class.hasError]="!wellCoverForm.get(field.content).valid && wellCoverForm.get(field.content).touched">
                <div [hidden]="wellCoverForm.get(field.content).untouched">
                  <span *ngFor="let valid of field.valids"><span *ngIf="wellCoverForm.get(field.content).hasError(valid.validField)">{{valid.msg}}</span></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--这里是进井增加表单-->
      <div #enterWell class="enterWell">
        <div class="container-fluid">
          <div class="row" *ngFor="let form of enterForms; let i = index">
            <form class="form-inline" [formGroup]="form">
              <div class="form-group pull-left">
                <label>&nbsp;</label>
                <input type="button" class="sequence" value="{{i + 1}}">
              </div>
              <div class="form-group pull-left" *ngFor="let f of enterFormBodyHtml; let i  = index">
                <label>{{f.name}}:</label>
                <input type="{{f.type}}" formControlName="{{f.content}}"
                       [class.hasError]="!form.get(f.content).valid && form.get(f.content).touched">
                <div [hidden]="form.get(f.content).untouched">
                  <span *ngFor="let valid of f.valids"><span *ngIf="form.get(f.content).hasError(valid.validField)">{{valid.msg}}</span></span>
                </div>
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="reset" value="重置数据">
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="button" value="删除" (click)="deleteForm(enterForms, form)">
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="button" value="增加模块Id" (click)="openSelModelId($event)">
              </div>
              <div class="modelSelRegion">
                <div class="content">
                  <div class="modelHeader">
                    <h4>第{{i + 1}}个表单模块Id增加</h4>
                  </div>
                  <div class="modelBody">
                    <!--这里将会动态添加-->
                  </div>
                  <div class="clearfix"></div>
                  <span class="fa fa-plus-circle" title="添加" (click)="addModelId($event)"></span>
                  <div class="row text-center">
                    <button type="button" class="saveBtn" (click)="saveCurrentModelId(form, $event)">保存</button>
                    <button type="button" class="closeBtn" (click)="closeSelModelId($event)">关闭</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row text-center">
            <span class="fa fa-plus-circle" title="新添加表" (click)="addForm(formValidModal, 'enterForms')"></span>
          </div>
        </div>
      </div>
      <!--这里是出井表单增加-->
      <div #outWell class="outWell">
        <div class="container-fluid">
          <div class="row" *ngFor="let form of outForms; let i = index">
            <form class="form-inline" [formGroup]="form">
              <div class="form-group pull-left">
                <label></label>
                <input type="button" class="sequence" value="{{i + 1}}">
              </div>
              <div class="form-group pull-left" *ngFor="let f of outFormBodyHtml">
                <label>{{f.name}}:</label>
                <input type="{{f.type}}" formControlName="{{f.content}}"
                       [class.hasError]="!form.get(f.content).valid && form.get(f.content).touched">
                <div [hidden]="form.get(f.content).untouched">
                  <span *ngFor="let valid of f.valids"><span *ngIf="form.get(f.content).hasError(valid.validField)">{{valid.msg}}</span></span>
                </div>
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="reset" value="重置数据">
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="button" value="删除" (click)="deleteForm(outForms, form)">
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="button" value="增加模块Id" (click)="openSelModelId($event)">
              </div>
              <div class="modelSelRegion">
                <div class="content">
                  <div class="modelHeader">
                    <h4>第{{i + 1}}个表单模块Id增加</h4>
                  </div>
                  <div class="modelBody">
                    <!--这里将会动态添加-->
                  </div>
                  <div class="clearfix"></div>
                  <span class="fa fa-plus-circle" title="添加" (click)="addModelId($event)"></span>
                  <div class="row text-center">
                    <button type="button" class="saveBtn" (click)="saveCurrentModelId(form, $event)">保存</button>
                    <button type="button" class="closeBtn" (click)="closeSelModelId($event)">关闭</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row text-center">
            <span class="fa fa-plus-circle" title="新添加表" (click)="addForm(formValidModal, 'outForms')"></span>
          </div>
        </div>
      </div>
      <!--这里是传感器表单增加-->
      <div #sensors class="sensors">
        <div class="container-fluid">
          <div class="row" *ngFor="let form of sensorsForms; let i = index">
            <form class="form-inline" [formGroup]="form">
              <div class="form-group pull-left">
                <label></label>
                <input type="button" class="sequence" value="{{i + 1}}">
              </div>
              <div class="form-group pull-left" *ngFor="let f of sensorsFormBodyHtml">
                <label>{{f.name}}:</label>
                <input type="{{f.type}}" formControlName="{{f.content}}"
                       [class.hasError]="!form.get(f.content).valid && form.get(f.content).touched">
                <div [hidden]="form.get(f.content).untouched">
                  <span *ngFor="let valid of f.valids"><span *ngIf="form.get(f.content).hasError(valid.validField)">{{valid.msg}}</span></span>
                </div>
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="reset" value="重置数据">
              </div>
              <div class="form-group pull-right">
                <label></label>
                <input type="button" value="删除" (click)="deleteForm(sensorsForms, form)">
              </div>
            </form>
          </div>
          <div class="row text-center">
            <span class="fa fa-plus-circle" title="新添加表" (click)="addForm(formValidModal, 'sensorsForms')"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <span *ngIf="allFormsValid" [ngStyle]="{color: 'red'}">当前表单验证失败!</span><br>
    <p *ngIf="validRegion" [ngStyle]="{color: 'red'}" class="warn">地址未选择!</p><br>
    <button class="btn btn-primary" (click)="submitAllFormInfo($event)">提交井信息</button>
  </div>
</div>



<ng-template #formValidModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">表单验证失败提示:</h4>
    <button type="button" class="pull-right" (click)="modalRef.hide()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h4>当前填写表单所有项输入能为空</h4>
    </div>
  </div>
</ng-template>
