<div class="container-fluid" style="padding-top: 10px;">
    <div class="col-md-6 main">
      <div class="row" style="padding: 0px 16px;">
        <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 title text-center">井盖添加</div>
        <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 title text-center">井进添加</div>
        <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 title text-center">井出添加</div>
        <div class="col-lg-1 col-md-3 col-sm-3 col-xs-6 title text-center">传感器添加</div>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
