<div class="usersmanager">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="index pull-left">井信息</div>
        <div class="whereSearch pull-right">
          <div class="form-group pull-left">
            <label>省：</label>
            <select name="provinceRegionId" #provinceRegionId>
              <option value="1">没有</option>
            </select>
          </div>
          <div class="form-group pull-left">
            <label>市：</label>
            <select name="provinceRegionId" #cityRegionId>
              <option value="1">没有</option>
            </select>
          </div>
          <div class="form-group pull-left">
            <label>区/县：</label>
            <select name="provinceRegionId" #countyRegionId>
              <option value="1">没有</option>
            </select>
          </div>
          <div class="form-group pull-left">
            <label>镇/乡：</label>
            <select name="provinceRegionId" #townRegionId>
              <option value="1">没有</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default pull-right" (click)="delete()">
          <span class="glyphicon glyphicon-trash"></span>删除
        </button>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="check"><input type="checkbox" (click)="checkAll()">全选/全不选</th>
            <th>ID</th>
            <th>井ID</th>
            <th>传感器个数</th>
            <th>材质</th>
            <th>地址</th>
            <th>数据搜集器ID</th>
            <th>创建时间</th>
            <th>GPS坐标</th>
            <th>省地区ID</th>
            <th>市地区ID</th>
            <th>（县/区）地区ID</th>
            <th>（镇/乡）地区ID</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of datas; let i = index">
            <td><input type="checkbox" (click)="check(data, $event)"></td>
            <td>{{data.id}}</td>
            <td>{{data.manholeId}}</td>
            <td>{{data.sensorsize}}</td>
            <td>{{data.material}}</td>
            <td>{{data.gpsPosition}}</td>
            <td>{{data.dataCollectorId}}</td>
            <td>{{data.creatTime}}</td>
            <td>{{data.gpsId}}</td>
            <td>{{data.provinceRegionId}}</td>
            <td>{{data.cityRegionId}}</td>
            <td>{{data.countyRegionId}}</td>
            <td>{{data.townRegionId}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <app-paging *ngIf="resDatas" [num]="resDatas['paingmsg']['totalPage']" (pageBodyChange)="getPageBody($event)"></app-paging>
    </div>
  </div>
</div>


<ng-template #lookdesc>
  <div class="modal-header">
    <h4 class="modal-title pull-left">设备数据查看详情</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>设备id号: {{detail['did']}}</p>
    <p>名称: {{detail['name']}}</p>
    <p>厂家编号: {{detail['fnum']}}</p>
    <p>生产厂家: {{detail['dvender']}}</p>
    <p>设备型号: {{detail['dmodule']}}</p>
    <p>生产日期: {{detail['dprodate']}}</p>
    <p>安装日期: {{detail['dinstalldate']}}</p>
    <p>额定功率: {{detail['power']}}</p>
    <p>额定电流: {{detail['current']}}</p>
    <p>额定电压: {{detail['voltage']}}</p>
    <p>使用状态: {{detail['usestatus']}}</p>
    <p>设备类型: {{detail['dtype']}}</p>
    <p>设备运行状态: {{detail['dstatus']}}</p>
    <p>模块id: {{detail['mid']}}</p>
    <p>插入时间 :{{detail['idt']}}</p>
    <p>更新时间 :{{detail['udt']}}</p>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="modalRef.hide();openModal(modify, -1)">
        跳转到修改
      </button>
      <button type="button" class="btn  btn-danger" aria-label="Close" (click)="closeModal()">
        返回
      </button>
    </div>
  </div>
</ng-template>
