<div class="container">
  <app-hint-msg [statusConfig]="statusConfig"></app-hint-msg>
  <div class="row">
    <button *ngIf="!controlBackBtn" type="button" class="btn btn-primary backBtn" [routerLink]="[backUrl]"><span
      class="fa fa-backward"></span>返回
    </button>
  </div>
  <div class="row delete text-center">
    <h4>请输入要删除的井ID</h4>
    <input type="text" [(ngModel)]="wellId" #wellId1><br>
    <button type="button" class="btn btn-primary" autofocus (click)="delete(wellId1.value)">确定删除</button>
  </div>
</div>
