.row {
  overflow: hidden;
  padding: 1px;
  border-bottom: 2px solid #32a8a3;
}
input{
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 1px;
  outline: none;
  border: 0;
  background: white;
  color: black;
  height: 20px;
  display: block;
}
input[type = "reset"], input[type="button"]{
  margin-top: 5px;
  padding: 0px 3px 0px 3px;
  background-color: rgba(71, 249, 240, 0.6);
  color: #FFFFFF;
}
.form-group{
  display: block;
  font-size: 10px;
}
.fa-plus-circle {
  margin-top: 20px;
  font-size: 30px;
  cursor: pointer;
}
.fa-plus-circle:hover {
  color: #47f9f4;
}
.form-group {
  margin-left: 10px;
}
.operateBtn {
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 110px;
  padding: 3px 4px;
  background-color: rgba(42, 125, 125, 0.5);
}
.operateBtn:focus {
  background-color: rgb(61, 181, 181);
}
