.title{
  display: inline-block;
  width: 200px;
  color: white;
}
.title .fa-navicon{
  cursor:pointer;
  font-size: 24px;
  line-height: 50px;
}
.user .user-admin{
  display: inline-block;
  color: white;
  padding-right: 15px;
  line-height: 50px;
}

.user-photo>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  overflow: hidden;
  cursor: pointer;
}
.user-photo-toggle{
  position: absolute;
  width: 150px;
  color: #2B404E;
  top: 45px;
  left: -42px;
}

.user>.user-remind,.user-photo,.user-set{
  display: inline-block;
  position: relative;
  color: #7B8292;
  padding-right: 15px;
}
.user-remind-circle{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: -5px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.user .user-set{
  font-size: 22px;
  margin-left: 15px;
}



/*字体图标*/
.fa-navicon{
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
}
.fa-navicon:hover{
  color: #47f9f4;
}
.container-fluid{
  padding-left: 0;
}
.navbar{
  border-radius: 0;
  background-color:rgba(0,0,0,0.5);
  box-shadow: 2px 0 3px rgba(0,0,0,.7);
  height: 50px;
  color: white;
  border: none;
  padding-left: 15px;
  margin-left: 180px;
}
.navbar-header{
  float: none;
}
.line{
  display:inline-block;
  height: 20px;
  width: 1px;
  background: white;
}
a{
  color: red;
}
